<!DOCTYPE html>
<meta charset="UTF-8">
<html>
  <head>
    {# CSS #}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <title>{% block titletext %}blocktitletext{% endblock %}</title>
  </head>

  <body id="entire-body" class="w3-container">
    {% block wholebody %}
    {# Navigation bar #}
    {% include "nav.html" %}

    <div id="body-content-block" class="w3-container">
      {% block bodycontent %}
      <h1 class="text-color"> blockwholebody </h1>
      {% endblock %}
    </div>
    {% endblock %}
    {# Minified JS #}
    <script src="/static/js/ugly.js"></script>
  </body>
</html>
