<div class="w3-bar bg1-color">
  <a href="/" class="w3-bar-item w3-button">
    <i class="material-icons">sentiment_very_satisfied</i>
  </a>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right">
    <i class="material-icons">settings</i>
  </a>
  <a href="javascript:void(0)"
     class="w3-bar-item w3-button w3-mobile w3-hide-small w3-right"
     onclick="toggleDarkMode();">
    <i id="theme-icon-large"
       class="material-icons">dark_mode</i>
  </a>
  <a href="javascript:void(0)"
     class="w3-bar-item w3-button w3-hide-large w3-hide-medium w3-right"
     onclick="toggleSmallNavbar();">
    <i class="material-icons">menu</i>
  </a>
</div>

<div id="small-toggle-navbar"
     class="w3-bar-block bg1-color w3-hide w3-hide-large w3-hide-medium">
  <a href="javascript:void(0)"
     class="w3-bar-item w3-button"
     onclick="toggleDarkMode();">
    <i id="theme-icon-small"
       class="material-icons">dark_mode</i>
  </a>
  <a href="#" class="w3-bar-item w3-button">
    <i class="material-icons">settings</i>
  </a>
</div>
