{# Provides card display of 10 results at a time #}

{# Filter selections #}
<div id="result-filter-box" class="w3-container w3-center">
  <div class="w3-cell-row">
    <button class="w3-cell w3-button" onclick="resultsResetFilters()">
      Clear all filters
    </button>
  </div>
</div>
{# Display results #}
<div class="w3-container">
  <div id="result-card-0" class="w3-card-4 w3-hide">
    <header id="result-card-0-header" class="w3-container w3-blue">
      <h1 id="result-card-0-name">missing result name</h1>
    </header>
  </div>
  <div id="result-card-1" class="w3-card-4 w3-hide">
    <header id="result-card-1-header" class="w3-container w3-blue">
      <h1 id="result-card-1-name">missing result name</h1>
    </header>
  </div>
  <div id="result-card-2" class="w3-card-4 w3-hide">
    <header id="result-card-2-header" class="w3-container w3-blue">
      <h1 id="result-card-2-name">missing result name</h1>
    </header>
  </div>
  <div id="result-card-3" class="w3-card-4 w3-hide">
    <header id="result-card-3-header" class="w3-container w3-blue">
      <h1 id="result-card-3-name">missing result name</h1>
    </header>
  </div>
  <div id="result-card-4" class="w3-card-4 w3-hide">
    <header id="result-card-4-header" class="w3-container w3-blue">
      <h1 id="result-card-4-name">missing result name</h1>
    </header>
  </div>

  {# Page navigation #}
  <div class="w3-cell-row w3-center">
    <div class="w3-cell">
      <button id="results-nav-back w3-right"
              class="w3-button"
              onclick="resultsPrevPage();">
        <i class="material-icons">arrow_back</i>
      </button>
    </div>
    <div class="w3-cell">
      <div class="w3-card-4">
        <h1 id="results-page-number" class="w3-center">1</h1>
      </div>
    </div>
    <div class="w3-cell">
      <button id="results-nav-forward"
              class="w3-button"
              onclick="resultsNextPage();">
        <i class="material-icons">arrow_forward</i>
      </button>
    </div>
  </div>
</div>
